body{
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

.calc {
    height: 480px;
    max-width: 320px;
    margin: 0 auto;
    background-color: dimgrey;
    padding: 20px;
    box-shadow: 5px 5px 5px slategrey; 
    border-radius: 1.5%;
    overflow: hidden;
}

.screen {
    color: black;
    width: 100%;
    height: 80px;
    text-align: right;
    background-color: lightgreen;
    vertical-align: middle;
}

.numpad {
    position: relative;
    top: 20px;
    padding: 0.5px;
    width: 70%;
}

.key {
    background-color: grey;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0.1rem;
}

.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-color: white;
  background-color: rebeccapurple;
}

.h {
  height: 10000px;
}

.abs {
  position: absolute;
  top: -22px;
  width: 100%;
  background-color: indianred;
  box-shadow: 2px 2px 2px black;
}